body {
background-color: #F2F2F2;
    background-size: cover;
    width: 84.3em;
    height: 47em;
    min-height: 100vh;
    color: #111f2a;
    margin-left: -0.6%;
}
@media (max-width:767.98px){
    body{
        margin: 0 auto;
        width: 22.5em;

    }
}
header{
    height:8em;
    
}

@media (max-width:767.98px){
    header{
        height:fit-content;
        width: 100%;
        margin: 0 auto;
    
    }

}
div#flutuante{
    display: none;
}


@media (max-width:767.98px){
    div#flutuante{
    display: block;
    width: 23%;
    left: 75%;
    bottom: 84.7%;
    position: fixed;
    z-index: 2;
    }}
img#botaoflu{
    width: 80%;
}

    
div#menuflutuante{
        display: none;
}

ul#menuflu{
    position: relative;
}

@media (max-width:767.98px){
    ul#menuflu{
    position: fixed;
    top: 11%;
    left: 45%;
    width: 35%;
    background-color: #F29F05;
    font-size: 12pt;
    height: 12em;
    list-style: none;
    font-size: 12pt;
    list-style: none;
    margin-left: 0%;
    z-index: 2;
    border-radius: 8px;

    }}

ul#menuflu li{
    display: block;
}

 
@media (max-width:767.98px){
    ul#menuflu li{   
    margin-left: 16%;
    margin-top: 1.9%;}}
    
    

div#flutuante:hover div#menuflutuante{
    display: block;
}


div#sky{
    display: inline-flex;
    width: 100%;
    height: 2em;
    margin-top: -0.9%;
    background-color: #F29F05;
    margin-left: 0.6%;

}
@media (max-width:767.98px){
    div#sky{
      margin-left: -2%;
    width: 103.7%;
    height: 4.5em;
    }}

div#sky h1{
     position: relative;
    top: -9%;

}
@media (max-width:767.98px){
    div#sky h1{
        margin-left: 2%;
    top: -8%;
    font-size: 10pt;

    }}
    .menubar{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    background-color: #334003;
    border-radius: 2px;
    bottom: 30%;
      border-radius: 5px;}

.h{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
       width: 40%;
    height: 1.5em;
    text-align: center;
    border: none;
    font-size: 11pt;
    color: #3E5903;

}
.h a{
  color: #3E5903;
}

@media (max-width:767.98px){
    .h a{
        font-size: 10pt;
    }}
.h a:hover{
    color:#729945;
    transition: 0.2s;
}
    

div#identification{
    display: inline-flex;
    height:60%;
}
@media (max-width:767.98px){
    div#identification{
    width:100%;
    display: contents;
    height: 5em;

    }}

.menubar{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    background-color: #F29F05;

    bottom: 30%;
        margin-left: 0.6%;

}
@media (max-width:767.98px){
    .menubar{display: none;
        justify-content: center;
        width: 100%;
        height:3em;
      

    }}

img#logo{
    width:10%;
    height: 140%;
    position: relative;
    bottom:25%;
    margin-left: 1%;
    
}
@media (max-width:767.98px){
    img#logo{
        width:25%;
    }}

h1#titulologo{
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    position: relative;
    font-size: 20pt;
    width: 70%;
    height: 31%;
}
@media (max-width:767.98px){
    h1#titulologo{
      margin-top: -17%;
    font-size: 16pt;
    width: 12em;
    margin-left: 26%;
}
    }
div#contato{
    width: 60%;
    display: inline-flex;
    margin-left: 0%;
}
@media (max-width:767.98px){
    div#contato{
        width: 100%;
    }}

img#whats{
      width: 13%;
    margin-right: -5%;
    margin-left: -3%;
    height: 5em;
    position: relative;
    bottom: 0%;
}
@media (max-width:767.98px){
    img#whats{
        display: none;
    }}


h2#whatsapp{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    position: relative;
    top: 16%;
    font-size: 13pt;

    width: 50%;
    height: fit-content;

}
@media (max-width:767.98px){
    h2#whatsapp{
     font-size: 12pt;
    width: 61%;
    }}
h2#number{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    position: relative;
    top: 16%;
    font-size: 13pt;
      margin-left:3%;
    width: 32%;
    height: fit-content;

}
@media (max-width:767.98px){
    h2#number{
      width: 7em;
    font-size: 12pt;
}
}

nav#menu1{
    list-style: none;
    position: relative;
    text-align: center;
    width: 100%;
    height:fit-content;
  


}

@media (max-width:767.98px){
    nav#menu1
        {
            width: 100%;
    }}
nav#menu1 li{
    display: inline-block;
    padding-right: 5%;
    
      
    
}
@media (max-width:767.98px){
    nav#menu1 li
        {
            width: 25%;
            display: inline-block;
        
    }}


li#but5{
    position: relative;
    
}

 @media (max-width:767.98px){
li#but5{
    right:60px; 
    top:25px;   
        padding:0px;
         width: fit-content;}}
       


nav#menu1 li:hover{
    text-decoration: none;
    transition: 0.2s;
    color:#308a0c;
      transition: 2.5s;
}




.opt1{
    position:relative;
    color:#5E5341;
    height:fit-content;
   font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    right:25%;
    bottom:3%;
}


.opt{
   font-family: 'Source Sans Pro', sans-serif;
    color:#3E5903;
    font-weight: bolder;

}

.menu a{
    text-decoration: none;
    color:#3E5903;
}


li#but3.opt1{
    position: relative;
}
@media (max-width:767.98px){
   li#but3.opt1{
        width:180px;
        left:3%;
    }}

.menu a:hover{
    color:green;
      transition: 0.5s;
}


img#leaf{
    position: relative;
    width:40px;
    top:57%;
    right:55%;
    z-index: 1;
    background: transparent;
    

}
@media (max-width:767.98px){
    img#leaf{
        right: 25%;
        

    }}
img#leaf2{
    width:40px;
    position: relative;
    top:75px;
    left:70%;
   z-index: 1;
}
@media (max-width:767.98px){
    img#leaf2{
        position: relative;
        left:40%;
        margin-right: 10px;
        z-index: 1;
        
    }}

    button#bucarrinho{
            display: inline-flex;
    width: 15%;
    margin-top: 1%;
    height: 3em;
    background-color: #3E5903;
    border-radius: 5px;
    border: none;
    }

    @media (max-width:767.98px){
        button#bucarrinho{
    width: 10em;

        }}
       button#bucarrinho:hover{
           background-color:#F27405;
         
       }

    a#acarrinho{
      text-decoration: none;
    color: #C6D58C;
    margin-top: 10%;
    margin-right: 13%;
    }

    img#carrinhoverde{
 width: 39%;
    height: 3em;
    margin-bottom: 0%;
    margin-right: 17%;
    }
    div#itens{
    width: 30%;
    margin-top: -37%;
    margin-left: 35%;
    position: relative;
    color: #5E5341;
    height: fit-content;
    font-family: 'Source Sans Pro', sans-serif;

    }
    div#totalspan{
             width:30%;
            margin-left: 35%;
        position:relative;
    color:#5E5341;
    height:fit-content;
   font-family: 'Source Sans Pro', sans-serif;


    }

    button#whatsapp{
           background-color:#334003;
           width:10%;
           height:3em;
           border-radius: 10px;
           margin-top:3%;
           margin-left: 35%;
       
    }

    a#whatsapp-button{
         color:#C6D58C;
     
        text-decoration: none;
        
    }
    button#clean{
           background-color:#334003;
           width:10%;
           height:3em;
           border-radius: 10px;
           margin-top:3%;
     
             color:#C6D58C;
     
        text-decoration: none;
       

    }

    div#form{
        width: 20%;
        height: fit-content;
        border: 1px solid black;
        background-color: #334003;
    }
    .labels{
     color:#C6D58C;
        font-family: 'Source Sans Pro', sans-serif;
         margin-left: 5%;
         font-weight: bolder;
 
     
    }

    .inputs{
        background-color: #C6D58C;
        border: none;
        width:90%;
        margin-left: 5%;
        height:1.5em;
        font-family: 'Source Sans Pro', sans-serif;
        color:black;
        margin-bottom: 3%;
    
    }

    button#buttonform{
            background-color:#88aa0cdc;
           width:50%;
           height:2em;
           border-radius: 10px;
           margin-top:3%;
            font-size: 12pt;
             color:#334003;
        text-decoration: none;
        margin-left: 5%;
        font-weight: bolder;
    }

    h1#titulo1{
                 color:#C6D58C;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 11pt;
                    justify-content: center;
                    width: 100%;
                    margin-left: 5%;

    }
    
    section{
        margin-top:3%;
    }


    
