body
{
    background-color:#F2F2F2;
    background-size: cover;
    background-size: 900px;
    min-height: 100vh;
    color:#111f2a;
  
}
@media (max-width:767.98px){
    body{
        margin: 0 auto;
        width: 22.5em;

    }
}

header{
    height:8em;
    
}

@media (max-width:767.98px){
    header{
        height:fit-content;
        width: 100%;
        margin: 0 auto;
    
    }

}
div#identification{
    display: inline-flex;
    height:60%;
}

.menubar{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    background-color: #334003;
    border-radius: 2px;
    bottom: 30%;
      border-radius: 5px;

}
@media (max-width:767.98px){
    .menubar{display: flex;
        justify-content: center;
        width: 100%;
        height:8em;
      

    }}

img#logo{
    width:10%;
    height: 140%;
    position: relative;
    bottom:25%;
    
}

h1#titulologo{
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    position: relative;
    font-size: 20pt;
    width: 70%;
    height: 31%;
}
div#contato{
    width: 54%;
    display: inline-flex;
    margin-right: 1%;
}

img#whats{
  width: 19%;
    margin-right: -5%;
    margin-left: -5%;
    height: 5em;
    position: relative;
    bottom: 0%;
}


h2#whatsapp{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    position: relative;
    top: 16%;
    font-size: 13pt;
    width: 50%;
    height: fit-content;

}
h2#number{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    position: relative;
    top: 16%;
    font-size: 13pt;
    width: 32%;
    height: fit-content;

}
nav#menu1{
    list-style: none;
    position: relative;
    text-align: center;
    width: 100%;
    height:fit-content;
  


}

@media (max-width:767.98px){
    nav#menu1
        {
            width: 100%;
    }}
nav#menu1 li{
    display: inline-block;
    padding-right: 5%;
    
      
    
}
@media (max-width:767.98px){
    nav#menu1 li
        {
            width: 25%;
            display: inline-block;
        
    }}
li#but1{
    position: relative;
    

}
@media (max-width:767.98px){
    li#but1{
        right:80px;
        top:25px;
        padding:0px;
        width: 50px;
    

    }}

li#but2{
    position: relative;
 
}
@media (max-width:767.98px){
    li#but2{
    right:70px; 
    top:25px;
    padding:0px;
     width: fit-content;
       

}}
li#but3{
    position: relative;
    
}

 @media (max-width:767.98px){
li#but3{
       right: 140px;
        top:5px;
        margin-bottom:5%;
        
}}



li#but5{
    position: relative;
    
}

 @media (max-width:767.98px){
li#but5{
    right:60px; 
    top:25px;   
        padding:0px;
         width: fit-content;}}
       


nav#menu1 li:hover{
    text-decoration: none;
    transition: 0.2s;
    color:#308a0c;
      transition: 2.5s;
}

.menu li ul{
    position: absolute;
    display: none;
    width: 160%;
    text-align: right;
    background-color: #E1DCC6;
    font-style: none;
    border: 1px solid #C6D58C;
    border-radius: 8px;
    z-index: 2;
      
}
@media (max-width:767.98px){
    .menu li ul{
        position: absolute;
        top: 100%;
        width:fit-content;
        height:fit-content;
        padding: 0px;
        z-index: 2;
        border-radius: 8px;
       

        
    }}

.menu li:hover ul, .menu li.over ul{
    display: block;
  

   
}

.menu li ul li{
    display: block;
    transition: 2s;
}

.opt1{
    position:relative;
    color:#5E5341;
    height:fit-content;
   font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    right:25%;
    bottom:3%;
}


.opt{
   font-family: 'Source Sans Pro', sans-serif;
    color:#C6D58C;
    font-weight: bolder;

}
.menu a{
    text-decoration: none;
    color:#C6D58C;
}


li#but3.opt1{
    position: relative;
}
@media (max-width:767.98px){
   li#but3.opt1{
        width:180px;
        left:3%;
    }}

.menu a:hover{
    color:green;
      transition: 0.5s;
}


img#leaf{
    position: relative;
    width:40px;
    top:57%;
    right:55%;
    z-index: 1;
    background: transparent;
    

}
@media (max-width:767.98px){
    img#leaf{
        right: 25%;
        

    }}
img#leaf2{
    width:40px;
    position: relative;
    top:75px;
    left:70%;
   z-index: 1;
}
@media (max-width:767.98px){
    img#leaf2{
        position: relative;
        left:40%;
        margin-right: 10px;
        z-index: 1;
        
    }}